.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.textInput {
    height: 2em;
    width: 40ch;
    border-radius: 4px;
    border: 1px solid #999999;
    margin-right: 0.5em;
    font-size: 1rem;
    padding-inline: 1em;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.08);
}

.searchIcon:hover {
    cursor: pointer;
}