.wrapper {
    background-color: white;
    width: 100%;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 22px;
    position: sticky;
    top: 0;
    left: 0;
}

h1 {
    color: black;
    line-height: center;
    font-size: 24px;
}

.title {
    display: flex;
    align-items: center;
    height: 100%;
}

ul.headerOptions {
    display: flex;
    justify-content: space-between;
    width: 360px;
    align-items: center;
    height: 100%;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.shopwrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.cart {
    top: 0;
    left: 0;
}

.quantity {
    position: relative;
    left: -10px;
    bottom: 8px;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}